table {
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
    background-color: #E8EAF6;
  }
  
  th {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: #0277BD;
    font-weight: bold;
  }
  
  td {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
  }
  