<!-- Sidebar Menu -->
<div class="sidebar">

  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggle()">
        <mat-icon>{{ isMenuOpened ? 'close' : 'menu' }}</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Logo -->
  <div class="logo">
    <img src="" alt="App Logo" class="logo-img" />
  </div>
  <!-- Balance Display -->
  <div class="balance">
    <p><span>$</span>Balance</p>
  </div>
  <!-- Navigation Links -->
  <ul class="sidebar-nav">
    <li routerLinkActive="active" routerLink="/home" [routerLinkActiveOptions]="{ exact: true }">
      <a class="sidebar-link">
        <mat-icon>home</mat-icon>
        <p>Dashboard</p>
      </a>
    </li>
    <li routerLinkActive="active" routerLink="/transactions" [routerLinkActiveOptions]="{ exact: true }">
      <a class="sidebar-link">
        <mat-icon>receipt_long</mat-icon>
        <p>Transactions</p>
      </a>
    </li>
    <li routerLinkActive="active" routerLink="/reports" [routerLinkActiveOptions]="{ exact: true }">
      <a class="sidebar-link">
        <mat-icon>insert_chart</mat-icon>
        <p>Reports</p>
      </a>
    </li>
  </ul>
  <!-- Logout Button -->
  <div class="logout-btn">
    <app-button [customButtonClass]="'dynamic-red'" (onClick)="logout()">
      <p>Logout</p>
      <mat-icon>logout</mat-icon>
    </app-button>
  </div>
</div>