<mat-sidenav-container>
  <mat-sidenav mode="side" opened role="navigation">
    <!-- Logo -->
    <div class="logo">
      <img src="" alt="App Logo" class="logo-img" />
    </div>

    <!-- Balance Display -->
    <div class="balance">
      <p><span>$</span>Balance</p>
    </div>

    <!-- Navigation Links -->
    <ul class="sidebar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/home" class="sidebar-link">Dashboard</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/transactions" class="sidebar-link">Transactions</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/reports" class="sidebar-link">Reports</a>
      </li>
    </ul>

    <!-- Logout Button -->
    <app-button text="Logout" [customButtonClass]="'dynamic-red'" (onClick)="logout()"></app-button>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    Main
  </mat-sidenav-content>
</mat-sidenav-container>