<div class="categories-container">
  <h2>Create a New Category</h2>

  <form (ngSubmit)="createCategory()" #categoryForm="ngForm">

    <app-input label="Category Name" placeholder="Enter category name" [(ngModel)]="categoryName"
      name="categoryName"></app-input>

    <app-button text="Create Category" customButtonClass="dynamic-green" (onClick)="createCategory()"></app-button>
  </form>

  <div *ngIf="categoryName && categoryName.trim().length > 0" class="preview">
    <p>Category Name: <strong>{{ categoryName }}</strong></p>
  </div>
</div>