@import "../../../../styles/base/variables.scss";

.custom-button {
  border: none;
  font-size: 16px;
  font-weight: 100;
  padding: 10px 18px;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  color: $white !important;
}

.dynamic-blue {
  background-color: $blue !important;

  &:hover {
    background-color: darken($blue, 3%);
  }
}

.dynamic-red {
  background-color: $red !important;
  &:hover {
    background-color: darken($red, 3%);
  }
}

.dynamic-green {
  background-color: $primary-color !important;

  &:hover {
    background-color: darken($green, 3%);
  }
}
