@import "../../../../styles/base/variables.scss";
.snackbar-container {
  position: relative;
  padding: 1rem 1rem;
  margin: -18px;
  border-radius: 0.375rem;
}

.success {
  color: $success-color;
  background-color: $success-bg;
  border-color: $success-border;
}

.error {
  color: $error-color;
  background-color: $error-bg;
  border-color: $error-border;
}

.info {
  color: $info-color;
  background-color: $info-bg;
  border-color: $info-border;
}
