<div class="registration-container">
  <h2>Register</h2>
  <div class="registration-form">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <app-input
        label="Full Name"
        placeholder="Enter your full name"
        type="text"
        [required]="true"
        formControlName="fullName"
      >
      </app-input>

      <app-input
        label="Email"
        placeholder="Enter your email"
        type="email"
        [required]="true"
        formControlName="email"
      >
      </app-input>

      <app-input
        label="Password"
        placeholder="Enter your password"
        type="password"
        [required]="true"
        formControlName="password"
      >
      </app-input>

      <app-button text="Register" [customButtonClass]="'dynamic-green'">
      </app-button>
      <p>Already have an accout?<a href="#">Login</a></p>
    </form>
  </div>
</div>
