$primary-color: #0e9384;
$error-color: #d54242;
$border-color: #222222;
$green: #4caf50;
$blue: #176ec8;
$red: #f44336;
$white: #ffffff;
$success-color: #0f5132;
$success-bg: #d1e7dd;
$success-border: #badbcc;
$error-color: #842029;
$error-bg: #f8d7da;
$error-border: #f5c2c7;
$info-color: #383d41;
$info-bg: #d6d6d6;
$info-border: #d6d8db;
