.dashboard-container {
  width: 100%;
  height: fit-content;
  padding: 10px;

  .chart-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: start;

    app-bar-chart {
      height: 40vh;
    }
    app-doughnut-chart {
      height: 45vh;
    }
    app-line-chart {
      width: 40%;
    }
  }
}
