<div class="dashboard-container">
  <h2>Dashboard</h2>
  <div class="chart-container">
    <div class="chart-card">
      <app-doughnut-chart [chartId]="'doughnutChart'" [data]="doughnutChartData"></app-doughnut-chart>
    </div>

    <div class="chart-card">
      <app-bar-chart [chartId]="'barChart'" [data]="barChartData"></app-bar-chart>
    </div>

    <div class="chart-card">
      <app-line-chart [chartId]="'lineChartCanvas'" [data]="lineChartData"></app-line-chart>
    </div>
  </div>

</div>