@import "../../../styles/base/variables.scss";
.dashboard-container {
  box-sizing: border-box;
  padding: 20px;
  max-width: 100%;
  max-height: 100vh;

  h2 {
    margin-bottom: 20px;
  }

  .chart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;

    .chart-card {
      width: 100%;
      background: $white;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      padding: 5px;
      flex: 1 1 30%;
      min-width: 280px;
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1024px) {
  .dashboard-container {
    .chart-container {
      grid-template-columns: 1fr;
    }
  }
}
