<mat-dialog-content>
  <p *ngIf="data.message">{{ data.message }}</p>

  <mat-form-field *ngIf="data.showInput" style="width: 100%;">
    <mat-label>{{ data.inputLabel || 'Enter value' }}</mat-label>
    <input *ngIf="data.showInput" [(ngModel)]="inputValue" placeholder="{{ data.inputLabel }}" class="form-control"
      matInput />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button [mat-dialog-close]="inputValue" cdkFocusInitial>
    Confirm
  </button>
</mat-dialog-actions>