<h3 mat-dialog-title style="text-align: center; width: 100%;">{{ data.title }}</h3>
<mat-dialog-content *ngIf="data.message">{{ data.message }}</mat-dialog-content>

<mat-dialog-content *ngIf="data.showInput">
  <mat-form-field appearance="fill" style="text-align: center; width: 100%;">
    <mat-label>{{ data.inputLabel }}</mat-label>
    <input matInput [(ngModel)]="inputValue" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">
    {{ data.cancelButtonText || 'Cancel' }}
  </button>
  <button mat-button color="primary" (click)="onConfirm()">
    {{ data.buttonText || 'Confirm' }}
  </button>
</mat-dialog-actions>